<template>
  <div id="XYZ">
    <b-container class="bv-example-row">
        <b-row>
            <b-col sm="3">
              <label>Category:</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="text" v-model="cartegory"></b-form-input>
            </b-col>
            
        </b-row>
        <b-row>
            <b-col sm="3">
              <label>City:</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="text" v-model="city"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
          <b-col sm="12" id="btn_layout">
            <b-button variant="outline-primary" v-on:click="callGGAPI()">Send</b-button>
          </b-col>
        </b-row>
        <b-row v-if="loading">
          <b-col sm="12" class="btn_layout_center">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
          </b-col>
        </b-row>
        <hr>
        <h4>Request</h4>
        <b-row>
          <b-col sm="12">
            Url: {{ google.url }}
            <pre>
              {
                "Cartegory": "{{ cartegory }}",
                "City": "{{ city }}"
              }
            </pre>
          </b-col>
        </b-row>
        
        <hr>
        <b-row>
          <b-col sm="12">
            <h4>Response</h4>
            <pre>{{ response }}</pre>
          </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'API',
  data () {
    return {
      google: {
        key: 'AIzaSyBabtFKgjxm-3BKz1FAMpFbMoS4TIWOF2s',
        url: 'https://maps.googleapis.com/maps/api/place/textsearch/json',
      },
      cartegory: 'restaurants',
      city: 'Bangkok',
      response: '',
      loading: false,
    }
  },
  methods: {
    callGGAPI() {
      if(this.cartegory == '' || this.city == ''){
        return false;
      }
      
      this.loading = true;
      fetch(this.google.url+"?query="+this.cartegory+"+in+"+this.city+"&key="+this.google.key,
      {
        method: 'GET',
        mode: 'no-cors',
        cache: 'no-cache',
        credentials: 'omit',
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*',
        }
      })
      .then(function(response) {
        this.response = JSON.stringify(response);
      })
      .catch(function(error) { 
        console.log(error);
      })
      .finally(function() {
        this.loading = false;
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bv-example-row {
  margin-top: 50px;
}
.row {
  margin: 20px;
}
#btn_layout {
  text-align: end;
}

#btn_layout_center {
  text-align: center;
}
</style>
