<template>
  <footer class="nav-background">
    <div>
      Footer Ja.
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-background {
    background: #353535;
    color: #fff;
  }
</style>
