<template>
  <b-navbar toggleable="md" class="nav-background">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand href="#">
      <img src="https://bootstrap-vue.js.org/_nuxt/img/c2b2fd3.png" class="d-inline-block align-top" alt="bv" style="width: 40px; height: 40px;">
    </b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item href="#">
        <router-link :to="{ name: 'XYZ' }">
          <span class="nav-title">XYZ</span>
        </router-link>
      </b-nav-item>
      <b-nav-item href="#">
        <router-link :to="{ name: 'API' }">
          <span class="nav-title">Api</span>
        </router-link>
      </b-nav-item>
      <b-nav-item href="#">
        <router-link :to="{ name: 'Resume' }">
          <span class="nav-title">Resume</span>
        </router-link>
      </b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
</template>

<script>
  export default {
    name: "Navbar",
    data() {
      return {}
    }
  }
</script>

<style>
  .nav-background {
    background: #353535;
  }
  .navbar nav {
    padding: 0 20px;
  }
</style>
