<template>
  <div id="Resume">
    <div>
      <b-img src="https://resume-fa99d.firebaseapp.com/img/resume-sample.png" fluid alt="Responsive image"></b-img>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Resume',
  data () {
    return {
      
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bv-example-row {
  margin-top: 50px;
}
.ans_txt {
  text-align: end;
}
</style>
