<template>
  <div id="XYZ">
    <b-container class="bv-example-row">
      <b-row>
        <b-col><b>Question</b></b-col>
        <b-col><b>Ans</b></b-col>
      </b-row>
      <b-row>
        <b-col>{{ question }}</b-col>
        <b-col>{{ ansString() }}</b-col>
      </b-row>
      <b-row>
        <b-col class="ans_txt">X</b-col>
        <b-col>{{ ans_x }}</b-col>
      </b-row>
      <b-row>
        <b-col class="ans_txt">Y</b-col>
        <b-col>{{ ans_y }}</b-col>
      </b-row>
      <b-row>
        <b-col class="ans_txt">Z</b-col>
        <b-col>{{ ans_z }}</b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'XYZ',
  data () {
    return {
      total: 6,
      question: '3, 5, 9, 15, X, Y, Z - Please create a new function for finding X, Y, Z value',
      ans: [3],
      ans_x: 0,
      ans_y: 0,
      ans_z: 0,
    }
  },
  created() {
    this.calculate();
  },
  methods: {
    ansString: function() {
      var myJSON = JSON.stringify(this.ans);
      return myJSON.toString();
    },
    calculate: function() {
      for(var i = 0; i < this.total; i++){
				this.ans.push((i+1)*2 + this.ans[i]);
      }

      this.ans_z = this.ans[this.ans.length - 1];
      this.ans_y = this.ans[this.ans.length - 2];
      this.ans_x = this.ans[this.ans.length - 3];
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bv-example-row {
  margin-top: 50px;
}
.ans_txt {
  text-align: end;
}
</style>
